img {
	width: 50px;
}

#freelancer,#chart,#blue-yen {
	width: 50px;
	height: 50px;
}

/*#blue-yen {
	width: 35px;
}*/

.title-logo {
	display: inline-flex;
	width: 100%;
}

#banner {
	position: relative;
	height: 42px;
	width: unset;
}

#cb-sh {
	font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0;
    margin-left: 10%;
    position: absolute;
    color: white;
}

.first {
	display: flex;
	background-color: #EAF3FA;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 98%;
	position: absolute;
    top: -49px;
    left: 0.3em;
    padding-right: 1%;
    z-index: 1;
}

.second {
	background-color: #5C6477;
	position: relative;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 96%;
	height: 0%;
	float: right;
	padding-top: 18px;
    margin-top: 3em;
    padding-right: 2%;
    padding-left: -1%;
    padding-bottom: .5%;
    z-index: -1;
}

.third {
	display: flex;
	background-color: #EAF3FA;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 98%;
	height: 8em;
	float: left;
	padding-top: 10%;
    margin-top: -8%;
    position: relative;
    z-index: -2;
}

.fourth {
	display: flex;
    background-color: #5C6477;
    box-shadow: 5px 5px 5px rgb(38, 38, 38);
    width: 98%;
    height: 12em;
    float: right;
    padding-top: 2.5em;
    margin-top: -7%;
    position: relative;
    z-index: -4;
}

.first p,.third p {
	color: #003557;
	margin: -4% 2% 0% 2%;
	font-size: 70%;
}

.second p {
	color: #EAF3FA;
}

#karl {
	color: #003557;
}

.first .number {
	font-size: 30px;
	color: #003557;
	margin-top: 27px;
    margin-left: 10px;
}

.second .number {
	font-size: 25px;
	color: #003557;
}

.third .number {
	font-size: 30px;
	color: #003557;
	margin-top: 27px;
	margin-left: 10%;
}

#pointer {
	width: 25px;
    height: 25px;
    background-color: #EAF3FA;
    box-shadow: 5px 5px 5px rgb(38, 38, 38);
    position: absolute;
    right: 5px;
    bottom: -12px;
    transform: rotate(45deg);
    z-index: -1;
}

.icon-containers {
	/*height: 90px;*/
	text-align: center;
	padding: 0 0 0 1%;
}

.icon-container-inner {
	height: 72%;
}

#verticle-divider {
	background-color: #003557;
    border: 0.5px solid #003557;
    height: 75px;
    margin-top: 1%;
}

#active-freelancers {
	width: 33%;
	padding: 1%;
}

.icon-containers > div {
	display: inline-flex;
	position: relative;
}

#ongoing-billable,#ongoing-gross {
	width: 40%;
	padding: 1%;
}

#total-hours,#total-projects,#total-months {
	width: 33%;
}

#small-container {
	display: flex;
    flex-direction: column;
}

#total-gross {
	text-align: unset;
    display: inline-flex;
    padding-top: 1%;
}

#total-billed {
	color: #EAF3FA;
	margin-top: 42px;
}

#gray-yen {
	width: 40px;
}

#tgp {
	font-size: 15px;
}

.fourth p {
	color: #EAF3FA;
	font-size: 7px;
}


#the-graph {
	width: 98%;
	margin: 0 auto;
	padding-bottom: 2.5%;
	padding-right: 1%;
}

#the-graph>img {
	display: block;
	width: 102%;
	margin-bottom: -2%;
}

#spacer {
	border: .5px solid #EAF3FA;
	background-color: #EAF3FA;
	width: 102%;
}

#months {

}

.fourth .number {
	color: #EAF3FA;
}

#special {
	width: 70%;
    margin-bottom: 3%;
    text-align: center;
}

#clock {
	width: 17%;
    margin: 2% auto;
}

#years {
	margin-left: 0;
    margin-top: -1%;
    font-size: 1em;
    width: 100%;
    display: block;
}

#time {
	font-size: 98%;
    margin: 0;
}

#special p {
	display: block;
	font-size: 1em;
    margin-top: 1%;
}

.lower-calendar {
	width: 15%;
	margin: 10% 2% 0% 2%;
}

.calendar-date {
	/*width: 50%;*/
	margin: 95% 0 0 0;
}

#calendar-date-outer {
	position: relative;
	right: 38%;
    width: 3em;
    height: 50px;
}

#calendar-date-inner {
	position: absolute;
    font-size: 26px;
    top: 23%;
    left: -2%;
}
	
#date {
	font-size: 10px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: -1em;
    width: 110%;
}

#lowest-p {
	width: 145%;
	font-size: 2%;
    position: relative;
    top: -2em;
    left: -12px;
}