* {
	font-family: Helvetica Neue;
}

img {
	width: 100px;
}

#blue-yen {
	width: 80px;
}

.title-logo {
	display: inline-flex;
	width: 100%;
}

#banner {
	position: relative;
	height: 130px;
	width: unset;
}

#cb-sh {
	font-size: 3em;
    line-height: 100px;
    margin-top: 0;
    margin-left: 10%;
    position: absolute;
    color: white;
}

.first {
	display: flex;
    background-color: #EAF3FA;
    box-shadow: 3px 3px 7px rgb(38, 38, 38);
    width: 98%;
    position: absolute;
    top: -155px;
    left: 0.5em;
    padding-right: 1%;
    z-index: 1;
}

.second {
	background-color: #5C6477;
    position: relative;
    box-shadow: 3px 3px 7px rgb(38, 38, 38);
    width: 96%;
    height: 38%;
    float: right;
    padding-top: 25px;
    margin-top: 152px;
    padding-right: 2%;
    padding-left: -1%;
    padding-bottom: .5%;
    z-index: -1;
}

.third {
	display: flex;
	background-color: #EAF3FA;
	box-shadow: 3px 3px 7px rgb(38, 38, 38);
	width: 98%;
	float: left;
	margin-left: 1%;
	padding-top: 7%;
    margin-top: -7%;
    position: relative;
    z-index: -2;
}

.fourth {
	display: flex;
	background-color: #5C6477;
	box-shadow: 3px 3px 7px rgb(38, 38, 38);
	width: 98%;
	float: right;
	padding-top: 8%;
    margin-top: -7%;
    position: relative;
    z-index: -4;
    
}

.first p,.third p {
	color: #003557;
}

.second p,.fourth p {
	color: #EAF3FA;
}

#karl {
	color: #003557;
}

.first .number {
	font-size: 50px;
	color: #003557;
	margin-top: 80px;
    margin-left: 10px;
}

#top-number {
	margin-top: 38px;
}

.second .number {
	font-size: 50px;
	color: #003557;
	margin-top: 40px;
	margin-left: 10%;
}

.third .number {
	font-size: 50px;
	color: #003557;
	margin-top: 38%;
	margin-left: 10%;
}

#pointer {
	width: 50px;
	height: 50px;
	background-color: #EAF3FA;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	position: absolute;
	right: 30px;
    bottom: -22px;
	transform: rotate(45deg);
	z-index: -1;
}

.icon-containers {
	text-align: center;
}

#verticle-divider {
	background-color: #003557;
    border: 1px solid #003557;
    height: 165px;
    margin-top: 1.5%;
}

#active-freelancers {
	width: 20%;
}

.icon-containers > div {
	display: inline-flex;
	position: relative;
}

#chart {
	transition: height 600ms ease-in-out,
				width 600ms ease-in-out,
				margin-top 600ms ease-in-out;
}

#chart:hover {
	margin-top: 5%;
	width: 160px;
	height: 160px;
}

#gray-yen {
	transition: height 600ms ease,
				width 600ms ease,
				margin-top 600ms ease;

}

#yen-div:hover #gray-yen{
	width: 160px;
	height: 160px;
	margin-top: 15%;
}

#multi-user {
	transition: height 600ms ease,
				width 600ms ease;
}

#multi-user:hover {
	width: 160px;
	height: 160px;
}

#cal-clock {
	transition: height 600ms ease,
				width 600ms ease;
}

#cal-clock:hover {
	width: 160px;
	height: 160px;
}

#calendar-date-outer {

}


#ongoing-billable,#ongoing-gross {
	width: 40%;
}

#total-hours,#total-projects,#total-months {
	width: 33%;
}

#small-container {
	display: flex;
    flex-direction: column;
}

#total-gross {
	text-align: unset;
    display: inline-flex;
    padding-top: 3%;
    padding-left: 2%;
}

#total-billed {
	color: #EAF3FA;
}

#tgp {
    font-size: 20px;
}

#the-graph {
	width: 98%;
	margin: 0 auto;
}

#the-graph>img {
	display: block;
	width: 100%;
}

#spacer {
	border: 1px solid #EAF3FA;
	background-color: #EAF3FA;
	width: 100%;
	height: 0.5px;
}


#special {
	width: 60%;
	margin-bottom: 3%;
	text-align: center;
}

#clock {
	width: 17.5%;
	margin: 2% auto;
	transition: width 600ms ease-in-out;
}

#clock:hover {
	width: 22%;
	margin: 2% auto;
}

#years {
	color: #EAF3FA;
	margin-left: 0;
    margin-top: 2%;
	font-size: 35px;
	width: 100%;
	display: block;
}

#time {
	font-size: 300%;
	margin: 0;
}

#special p {
	display: block;
}

.lower-calendar {
	width: 20%;
	margin-top: 10%;
	margin-left: 1%;
}

.calendar-date {
	width: 50%;
	margin: 0;
}

#calendar-date-outer {
	position: relative;
	width: 100%;
}

#since {
	transition: top 600ms ease-in-out,
				font-size 600ms ease-in-out,
				left 600ms ease-in-out;
}

#left>.calendar-date:hover #since {
	top: -150px;
	font-size: 150px;
	left: 150px;	
}

#dlu-day {
	transition: top 600ms ease-in-out,
				font-size 600ms ease-in-out,
				left 600ms ease-in-out;
}

#right>.calendar-date:hover #dlu-day {
	top: -150px;
	font-size: 150px;
	left: -200px;	
}
	
.number-date {
	color: #EAF3FA;
	font-size: 30px;
	margin-top: 0;
	margin-left: 0;
}
.calendar-date-inner {
	color: #EAF3FA;
	position: absolute;
	font-size: 400%;
    top: 30%;
    left: 23%;
}

/*.footer {
	background-color: #EAF3FA;
	display: inline-block;
	width: 100%;
}

#copy {
	margin-left: 10%;
	margin-top: 2%;
	font-size: 20px;
}*/

@media screen and (min-width: 1694px) {
	.number-date {
		width: 50%;
	}
}
	
