img {
	width: 50px;
}

#blue-yen {
	width: 35px;
}

.title-logo {
	display: inline-flex;
	width: 100%;
}

#banner {
	position: relative;
	height: 42px;
	width: unset;
}

#cb-sh {
	font-size: 20px;
    margin-top: 1%;
	margin-left: 15%;
	position: absolute;
	color: white;
}

.first {
	display: flex;
	height: 116px;
	background-color: #EAF3FA;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 98%;
	float: left;
	position: relative;
	padding-right: 1%;
	z-index: 1;
}

.second {
	background-color: #5C6477;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 96%;
	float: right;
	padding-top: 10%;
	margin-top: -9%;
	padding-right: 2%;
	padding-bottom: 2%;
	position: relative;
	z-index: -1;
}

.third {
	display: flex;
	background-color: #EAF3FA;
	box-shadow: 5px 5px 5px rgb(38, 38, 38);
	width: 98%;
	height: 110px;
	float: left;
	padding-top: 10%;
    margin-top: -8%;
    position: relative;
    z-index: -2;
}

.fourth {
	display: flex;
    background-color: #5C6477;
    box-shadow: 5px 5px 5px rgb(38, 38, 38);
    width: 98%;
    height: 160px;
    float: right;
    padding-top: 8%;
    margin-top: -7%;
    position: relative;
    z-index: -4;
}

.first p,.third p {
	color: #003557;
	margin-top: 2%;
	font-size: 70%;
}

.second p {
	color: #EAF3FA;
}

.first .number {
	font-size: 30px;
	color: #003557;
	margin-top: 27px;
    margin-left: 10px;
}

.second .number {
	font-size: 25px;
	color: #003557;
	margin-top: 38%;
	margin-left: 10%;
}

.third .number {
	font-size: 30px;
	color: #003557;
	margin-top: 27px;
	margin-left: 10%;
}

#pointer {
	width: 25px;
    height: 25px;
    background-color: #EAF3FA;
    box-shadow: 5px 5px 5px rgb(38, 38, 38);
    position: absolute;
    right: 5px;
    bottom: -12px;
    transform: rotate(45deg);
    z-index: -1;
}

.icon-containers {
	height: 90px;
	text-align: center;
	padding: 0 0 0 1%;
}

.icon-container-inner {
	height: 72%;
}

#verticle-divider {
	background-color: #003557;
    border: 0.5px solid #003557;
    height: 85px;
    margin-top: 3.5%;
}

#active-freelancers {
	width: 33%;
}

.icon-containers > div {
	display: inline-flex;
	position: relative;
}

#ongoing-billable,#ongoing-gross {
	width: 40%;
}

#total-hours,#total-projects,#total-months {
	width: 33%;
}

#total-gross {
	width: -1%;
	padding-top: 1%;
}

#gray-yen {
	float: left;
	margin: 1%;
}

#total-billed {
	color: #EAF3FA;
	margin: 0 2%;
	float: left;
}

#tgp {
	position: relative;
    top: 20%;
    right: 35%;
}

.fourth p {
	color: #EAF3FA;
	font-size: 7px;
}


#the-graph {
	width: 98%;
	margin: 0 auto;
}

#the-graph>img {
	display: block;
	width: 100%;
}

#spacer {
	border: 1px solid #EAF3FA;
	background-color: #EAF3FA;
	width: 100%;
	height: 0.5px;
}

.fourth .number {
	color: #EAF3FA;
}

#special {
	width: 70%;
    margin-bottom: 3%;
    text-align: center;
}

#clock {
	width: 17%;
    margin: 2% auto;
}

#years {
	margin-left: 0;
    margin-top: 2%;
    width: 100%;
    display: block;
}

#time {
	font-size: 98%;
    margin: 0;
}

#special p {
	display: block;
}

.lower-calendar {
	width: 15%;
	/*margin-top: 10%;
	margin-left: 1%;*/
}

.calendar-date {
	/*width: 50%;*/
	margin: 95% 0 0 0;
}

#calendar-date-outer {
	position: relative;
    width: 75%;
    height: 50px;
}

#calendar-date-inner {
	position: absolute;
    font-size: 26px;
    top: 23%;
    left: 11%;
}
	
#date {
	font-size: 10px;
    margin-top: 0;
    margin-left: 0;
    position: unset;
    display: unset;
}